<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
{namespace p=EvangelischeGemeenteParousiaZoetermeer\Parousiazoetermeer\ViewHelpers}

<f:layout name="General" />
<f:section name="content">
	<div id="liturgy-container}">
		<h4><f:translate key="liturgie" /> <f:format.date format="%A %e %B %Y" date="{liturgy.dateService}" /></h4>
		<h5 class="mb-3">{liturgy.seriesTitle} | {liturgy.sermonTitle} </h5>
		<table class="mb-2">
		<tr>
			<td><label for="Aanbiddingsleider" class="font-weight-bold mb-0"><f:translate key="aanbiddingsleider" /></label></td>
			<td id="Aanbiddingsleider">: {liturgy.aanbiddingsleider}</td>
		</tr>
		<tr>
			<td><label for="oudste" class="font-weight-bold mb-0"><f:translate key="oudste" /></label></td>
			<td id="oudste">: {liturgy.oudste}</td>
		</tr>
		<tr>
			<td><label for="regisseur" class="font-weight-bold mb-0"><f:translate key="regisseur" /></label></td>
			<td id="regisseur">: {liturgy.regisseur}</td>
		</tr>
		</table>
		<f:for each="{liturgy.orderitems}" as="OrderItem" iteration="iterator">
			<f:render section="listItem" arguments="{OrderItem: OrderItem,settings:settings,spreker:liturgy.spreker,kindermoment:liturgy.kindermoment,iterator:iterator}" />
		</f:for>
	</div>
</f:section>

<f:section name="listItem">
	<div>
		<div {f:if(condition:'{OrderItem.type}=="item"',then:'class="mt-2 mb-2"')}>
			{f:if(condition:'{OrderItem.type}=="item"',then:'<strong>')}
			{OrderItem.orderTitle}
			{f:if(condition:'{OrderItem.type}=="item"',then:'</strong>')}
			<f:if condition="{OrderItem.type}=='item'"><f:then>
				<f:if condition="{OrderItem.orderTitle}=='Preek'">
				<f:then>&nbsp;{spreker}
					<f:if condition="{OrderItem.description}">
						<div>{OrderItem.description}</div>
					</f:if>
				</f:then>
				</f:if>
				<f:if condition="{OrderItem.orderTitle}=='Kindermoment'">
				<f:then>&nbsp;{kindermoment}
				</f:then>
				</f:if>
			</f:then>
			</f:if> 
		</div>
	</div>
</f:section>


